[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
langchain = "*"
openai = "*"
google-search-results = "*"
requests = "*"
black = "*"
tweepy = "*"
flask = "*"
langchain-community = "*"
python-dotenv = "*"
pinecone-client = "*"
tiktoken = "*"
langchain-openai = "*"
pypdf = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
